---
layout: landing
---
<section id="banner">
  <img id="banner-img" src="/images/banner.jpg" />
  <div class="inner center-banner">
    <h2>{{ site.title }}</h2>
    <p> Get Married!  </p>
    <p> Friday Jan 20th 2023 </p>
    <p> Sayulita, Mexico </p>
  </div>
  <a href="#rsvp" class="more scrolly">RSVP!</a>
</section>

<div id='alert' class='alert'>
  <strong>Hey! Listen!</strong> The hotel block will be released to the general public after Nov 20th.  <a id='book-soon' href='/#stay'>Book your room soon!</a>
  <div class="center" style="margin-top: 1em">
    <button type="button" id="close-btn" >
      <span>cool cool cool</span>
    </button>
  </div>
</div>

<section id='rsvp' class='wrapper style2'>
  <div class="container">
    <div class="row center">
      <div class='rsvp-form-container'> <!-- class="rsvp-form-container"> -->
        <h2>RSVP</h2>
        <form id="rsvp-form" 
              class="rsvp-form"
              action="https://script.google.com/macros/s/AKfycbxAzdDpwj2c9khIkSB0ghPSi1L-4Y_rf8bG4KTtTTxMsAiXHdu61aPTnR9bZJLv-UcS/exec"
              method="POST">
          <p>Please RSVP for all events below. More details in the <a href='./#schedule'>schedule</a></p>
          <div id="form-inputs">
            {% for field in site.data.rsvp %}
              <div class="row center padding-bottom">
                <i class="form-input"></i><input 
                  name="{{ field.name }}" 
                  type="{{ field.type }}"
                  placeholder="{{ field.placeholder }}"
                  {% if field.required %}
                    required
                  {% endif %}
                >
              </div>
            {% endfor %}
            <div style="margin-bottom: .5em; margin-top: 1em">Ceremony</div>
            <div class="row flex-end padding-bottom">
              <input required type="radio" id="will_attend" name="attendance" value="Will Attend">
              <label for="will_attend">Will Attend</label><br>
              <input required type="radio" id="cannot_attend" name="attendance" value="Cannot Attend">
              <label for="cannot_attend">Cannot Attend</label><br>
            </div>
            <div id="more-rsvp">
              <div style="margin-bottom: .5em">Welcome Dinner (Night before)</div>
              <div class="row flex-end padding-bottom">
                <input required type="radio" id="will_attend_welcome" name="welcome" value="Will Attend">
                <label for="will_attend_welcome">Will Attend</label><br>
                <input required type="radio" id="cannot_attend_welcome" name="welcome" value="Cannot Attend">
                <label for="cannot_attend_welcome">Cannot Attend</label><br>
              </div>
              <div style="margin-bottom: .5em">Sunset Cruise (Day After)</div>
              <div class="row flex-end padding-bottom">
                <input required type="radio" id="will_attend_boat" name="boat" value="Will Attend">
                <label for="will_attend_boat">Will Attend</label><br>
                <input required type="radio" id="cannot_attend_boat" name="boat" value="Cannot Attend">
                <label for="cannot_attend_boat">Cannot Attend</label><br>
              </div>
            </div>
          </div>
          <div class="row center">
            <div class="col-md-12" id="alert-wrapper"></div>
          </div>
          <div class="flex">
            <div id='add-guest-button' class="padding-top padding-bottom">
              <button class="">
                Add Guest
              </button>
            </div>
            <div id='submit-button' class="padding-top padding-bottom">
              <button class="green-box">
                Submit
              </button>
            </div>
          </div>
        </form>
        <div id='thank-you' class="row" style="display:none">
          <p>Thanks for RSVP'ing!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="travel" class="wrapper style5">
  <h2 id="section-header" class="style5"> 
   Travel / Transportation
  </h2>
  <p>
    We picked <a target="_blank" href="https://goo.gl/maps/M9pRQNbUhfELb4yGA">Sayulita, Mexico</a> for it's laid back, surfer beach town vibes.
  </p>
  <img style="max-width: 100%;" src="images/travel/sayulita.jpeg"/>
  <br></br>
  <strong>How do I get there from the airport?</strong><br>
  Sayulita is a 40 minute drive from the Puerto Vallarta International Airport. There are a few options to get there:
  <br></br>
  <ul>
    <li><strong>Taxi</strong> - Taxis only take cash, so make sure to have some on hand. They will take US Dollars but you're likely to get overcharged. If you can, best to exchange some money for Pesos when you arrive at the Airport. Expect to pay somewhere between 30-50 USD for a Taxi.</li>
    <li><strong>Private Shuttle</strong> - You can book a private Shuttle to pick you up from the airport. This is a good option if you have a group or just want someone to hand you a beer as soon as you get on the road. We've used <a href='https://www.sayulitalife.com/sayulita-suburban'>Sayulita Suburban</a> in the past, and they're great. You can also book a shuttle directly through the hotel by emailing <a href="mailto:info@amorboutiquehotel.com">info@amorboutiquehotel.com</a>.</li>
    <li><strong>Uber</strong> - Uber does operate in Sayulita and Puerto Vallarta, but they are not allowed in the airport. You'll need to walk outside of the airport if you want to take an Uber. We recommend using a Taxi or Shuttle from the airport, and only using Uber once you're in Sayulita.</li>
  </ul>
  <p><a href='https://www.sayulitalife.com/sayulitatransportation'>Additional transportation options here</a></p>
</section>

<section id="stay" class="wrapper style5">
  <h2 id="section-header" class="style5"> 
   Stay
  </h2>
  <p>
  We have a hotel block at the <a target="_blank" href="https://www.amorboutiquehotel.com">Amor Boutique Hotel</a>. We think the weekend would be most special if everyone could stay in the same place. But, there's also plently of beautiful AirBnb's in Sayulita if that's more your vibe.
  <br />
  <strong>Our hotel block is released to the public on Nov 20th!</strong>
  </p>
  <div>
    <img style="width: 40%; margin: auto" src="images/travel/hotel_1.jpeg"/>
    <img style="width: 40%; margin: auto" src="images/travel/hotel_2.jpeg"/>
  <div>
  <br></br>
  <h3>Booking Instructions</h3>
  <p>
    We have a room block for the hotel, you just need to tell the booking manager our names (Kraus/Cueno) and the date of the wedding (Jan 20th 2023). 
    <br><br>
    To book, please send an email to <a href="mailto:info@amorboutiquehotel.com">info@amorboutiquehotel.com</a>. 
    <br><br>
    <strong><a target="_blank" href="/hotel_block.html">Click here for the full list of the rooms and villas we have in our block.</a></strong>
    <br>
    (Of course you're free to book any rooms outside the room block as well, directly on <a target="_blank" href="https://www.amorboutiquehotel.com">their website</a>)
  </p>
  <br>
  <h4>One word of caution! </h4>
  <p>
    The hotel doesn't have any elevators and some of the villas are pretty high off sea level - so if you're not up for hiking up a few stairs, make sure to pick a room or villa closer to ground level. (The hotel website will tell you how many stairs it takes to get to each room).
  </p>
  <img style="max-width: 100%;" src="images/travel/hotel_stairs.jpeg"/>
</section>

<section id="schedule" class="wrapper style5">
  <h2 id="section-header" class="style4 center" style="margin-bottom: 1rem"> 
    Schedule
  </h2>
  <div style='text-align: center'>
    <i>We invite all our guests to join us in the following events. Please <a href="/#rsvp">RSVP</a> to each event above.</i>
  </div>
  <hr class='divider' />

  <div style='text-align: center;'>
  <ul style="list-style: none; ">
    <li style="margin-top:30px"><strong>&#x2022;&nbsp; Thursday, January 19th &nbsp;&#x2022;</strong></li>
      <strong>6:30 PM | Welcome Dinner</strong>
      <br />
      <br />
      Welcome to Sayulita! Join us at La Gran Villa Terrace at the <i>Amor Boutique Hotel</i> for finger foods and margaritas.
      <br />
      <br />
      📍<a href='https://g.page/AmorBoutiqueHotel?share'>Pescadores S/N, 63734 Sayulita, Nayarit, Mexico</a>
      <br />
      <br />
      <button style='margin-bottom: 20px;'>
        <a style='text-decoration:none' href='./invites/WelcomeDinner.ics'>Add event to calendar</a>
      </button>
    <hr class='divider' />
    <li style='margin-top: 70px'><strong>&#x2022;&nbsp; Friday, January 20th &nbsp;&#x2022;</strong></li>
      <strong>5:00 PM | Wedding Ceremony at <i>Playa Secreta</i></strong>
      <br />
      Cocktail hour, dinner and dancing to follow. Please arrive early. Shuttles will provide transportation from the <i>Amor Boutique Hotel</i> at 4:15 PM, or it is a 10 minute walk. 
      <br />
      Semi-formal attire suggested.
      <br />
      <br />
      📍<a href="https://g.page/playa-secreta?share">Av. del Palmar 10, 63732 Sayulita, Nay., Mexico</a>
      <br />
      <br />
      <button style='margin-bottom: 20px;'>
        <a style='text-decoration:none' href='./invites/Ceremony.ics'>Add event to calendar</a>
      </button>
      
    <hr class='divider' />
    <li style='margin-top: 70px'><strong>&#x2022;&nbsp; Saturday, January 21st &nbsp;&#x2022;</strong></li>
      <strong>3:30 PM to 7:15 PM | Party Boat!</strong>
      <br />
      As a special thank you to our guests, we invite you to join us for a party at sea. Appetizers and drinks will be provided.
      <br />
      Bring your swimsuits!
      <br />
      <br />
      Meet at:
      <br />
      📍<a href='https://g.page/PakekeSayulita?share'>Pakeke Coffee Shop at 3:30 PM.
      <br />
      Calle Playa Azul #2, Sayulita Nayarit, Mexico.</a>
      <br />
      <br />
      <button style='margin-bottom: 20px;'>
        <a style='text-decoration:none' href='./invites/Boat.ics'>Add event to calendar</a>
      </button>
  </ul>
  <br />
  </div>
</section>

<!-- Nothing yet...

  <section id="couple" class="wrapper alt style2">
  </section>

  <section id="venue" class="wrapper alt style2">
  </section>
-->
