<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/couple/IMG_6755.JPG" alt="" />
  </div>
  <div class="content">
    <h2>Mike and Suz</h2>
	<p>
	  Mike and Suz met at the Ballard Underground on April, 2017. After watching a strange play about femenism and zoological transofrmations they went to grab a drink...
        </p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/couple/IMG_0112.JPG" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/couple/20180219_134710.JPG" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/couple/IMG_2736.JPG" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
  <div class="image">
    <img src="images/couple/IMG_1325.JPG" style="width: 100%" alt="" />
  </div>
    <p>
      Sometimes were like this..
      </br>
    </p>
  </div>
</section>
