<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/couple/IMG_6755.JPG" alt="" />
  </div>
  <div class="content">
    <h2>Mike and Suz</h2>
	<p>
    Mike met Suz by arranging quite possibly the most ackward date imaginable. 
    A swipe right on Tinder, a few short exchanges, and a two tickets to a "pay-what-you-can" 
    community theater play about feminism set in a zoo in ancient greece - "Meet me at the theater"? 
    Mike asks. Suz responds "...why don't we meet for a drink first across the street?". 
  <p>
  <br />
  <p>
    This was smart, turns out it helps to know someone at least a little bit before you sit through 
    (and don't take this too hard Ballard Underground Theater) the most cringy play of your adult life
    where you make up the only two audience members not a part of the casts direct family.
  <p>
  <br />
  <p>
    One intermission, some laughs and eyerolls later, a bond would be formed as the cast of this tragic, feminist play, closed the cutrain 
    to a increasing in both speed and volume chant of "...men, ..men, men, MEN, MEN, MEN! MEN!!!" 
  </p>
  <p>
    Many drinks were had after this shared experience. The rest is hammocks and spicy food.
  </p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/couple/IMG_0112.JPG" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/couple/20180219_134710.JPG" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/couple/IMG_2736.JPG" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
  <div class="image">
    <img src="images/couple/IMG_1325.JPG" style="width: 100%" alt="" />
  </div>
    <p>
      Sometimes were like this..
      </br>
    </p>
  </div>
</section>
