<section class="spotlight">
  <div class="warpper image style2">
    <img src="images/couple/1.JPG" alt="" />
  </div>
  <div class="wrapper style2">
    <p>
      Mike met Suz by arranging quite possibly the most ackward date imaginable. 
      A swipe right on Tinder, a few short exchanges, and a two tickets to a "pay-what-you-can" 
      community theater play about feminism set in a zoo in ancient greece - "Meet me at the theater"? 
      Mike asks. Suz responds "...why don't we meet for a drink first across the street?". 
    <p>
    <br />
    <p>
      This was smart, turns out it helps to know someone at least a little bit before you sit through 
      (and don't take this too hard Ballard Underground Theater) the most cringy play of your adult life
      where you make up the only two audience members not a part of the casts direct family.
    <p>
    <br />
    <p>
      One intermission, some laughs and eyerolls later, a bond would be formed as the cast of this tragic, feminist play, closed the cutrain 
      to a increasing in both speed and volume chant of "...men, ..men, men, MEN, MEN, MEN! MEN!!!" 
    </p>
    <p>
      After, drinks were had.
    </p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/couple/2.JPG" alt="" />
  </div>
</section>

<section>
  <div class="wrapper style2">
    <p>
      Then we got a Pablo..
    </p>
    <div class="image">
      <img src="images/couple/9.JPG" style="width: 100%" alt="" />
    </div>
  </div>
</section>

<section>
  <div class="wrapper style2">
    <p>
      and a Homer..
    </p>
    <div class="image">
      <img src="images/couple/8.JPG" style="width: 100%" alt="" />
    </div>
  </div>
</section>

<section>
  <div class="wrapper style2">
    <p>
      Then we went to Iceland..
    </p>
    <div class="image">
      <img src="images/couple/10.JPG" style="width: 100%" alt="" />
    </div>
    <div class="image">
      <img src="images/couple/11.JPG" style="width: 100%" alt="" />
    </div>
    <div class="image">
      <img src="images/couple/12.JPG" style="width: 100%" alt="" />
    </div>
    <div class="image">
      <img src="images/couple/13.JPG" style="width: 100%" alt="" />
    </div>
  </div>
</section>

<section>
  <div class="wrapper style2">
    <p>
      and got engaged..
    </p>
    <div class="image">
      <img src="images/couple/15.JPG" style="width: 100%" alt="" />
    </div>
  </div>
</section>
<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section>
  <div class="wrapper style2">
    <p>
      The End
    </p>
    <div class="image">
      <img src="images/couple/5.JPG" style="width: 100%" alt="" />
    </div>
  </div>
</section>
