<section class="spotlight">
  <div class="warpper image ">
    <img src="images/couple/1.JPG" alt="" />
  </div>
</section>

<section class="spotlight">
  <div class="wrapper content style2">
    <p>
      Mike met Suz by arranging quite possibly the most ackward date imaginable. 
      A swipe right on Tinder, a few short exchanges, and a two tickets to a "pay-what-you-can" 
      community theater play about feminism set in a zoo in ancient greece - "Meet me at the theater"? 
      Mike asks. Suz responds "...why don't we meet for a drink first across the street?". 
    <p>
    <p>
      This was smart, turns out it helps to know someone at least a little bit before you sit through 
      the most cringy play of your adult life
      where you make up the only two audience members not a part of the cast's direct family.
    <p>
    <p>
      One intermission, some laughs and eyerolls later, a bond would be formed as the cast of this tragic, feminist play, closed the cutrain 
      to a increasing in both speed and volume chant of "...men, ..men, men, MEN, MEN, MEN! MEN!!!" 
    </p>
    <p>
      After, drinks were had.
    </p>
  </div>
</section>

<section class="spotlight">
  <div class="image centered">
    <img src="images/couple/2.JPG" alt="" />
  </div>
</section>

<section class="spotlight">
  <div class="wrapper centered">
    <p>
      Then we got Pablo..
    </p>
    <div class="image">
      <img src="images/couple/9.JPG" style="width: 100%" alt="" />
    </div>
  </div>
</section>

<section class="spotlight">
  <div class="wrapper centered">
    <p>
      and Homer..
    </p>
    <div class="image">
      <img src="images/couple/8.JPG" style="width: 100%" alt="" />
    </div>
  </div>
</section>

<section class="spotlight">
  <div class="wrapper centered">
    <p>
      Then we went to Iceland..
    </p>
    <div class="image">
      <img src="images/couple/10.jpg" style="width: 100%" alt="" />
    </div>
    <div class="image">
      <img src="images/couple/11.jpg" style="width: 100%" alt="" />
    </div>
    <div class="image">
      <img src="images/couple/12.jpg" style="width: 100%" alt="" />
    </div>
    <div class="image">
      <img src="images/couple/13.jpg" style="width: 100%" alt="" />
    </div>
  </div>
</section>

<section class="spotlight">
  <div class="wrapper centered">
    <p>
      and got engaged..
    </p>
    <div class="image">
      <img src="images/couple/15.jpg" style="width: 100%" alt="" />
    </div>
  </div>
</section>
<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight">
  <div class="wrapper centered">
    <p>
      To be continued
    </p>
    <div class="image">
      <img src="images/couple/5.JPG" style="width: 100%" alt="" />
    </div>
  </div>
</section>
