<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            {% if page.url == '/' %}
              <li><a href="#rsvp" class="more scrolly">RSVP</a></li>
              <li><a href="#travel" class="more scrolly">Travel</a></li>
              <li><a href="#stay" class="more scrolly">Stay</a></li>
              <li><a href="#schedule" class="more scrolly">Schedule</a></li>
              <li><a href="/couple.html">Couple</a></li>
            {% else %}
              <li><a href="/#rsvp" class="more scrolly">RSVP</a></li>
              <li><a href="/#travel" class="more scrolly">Travel</a></li>
              <li><a href="/#stay" class="more scrolly">Stay</a></li>
              <li><a href="/#schedule" class="more scrolly">Schedule</a></li>
              <li><a href="/couple.html">Couple</a></li>
            {% endif %}
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
